<div class="w-100 h-100 d-flex justify-content-center align-items-start">
    <div class="dashboard w-75 slide-in">
        <div class="dashboard-header fw-bold fs-1 mt-5 mb-5 slide-in">
            Welcome to Travlator
        </div>
        <div class="fw-bold fs-3 mt-3 slide-in animation-delay-1">Get started</div>
        <div class="action-card rounded-4 d-flex justify-content-between align-items-center w-100 p-5 mt-5 slide-in  animation-delay-2">
            <div class="card-info">
                <div class="fw-bold fs-4 mb-4">Add a trip expense</div>
                <div class="card-def fs-4">Upload the trip details and wait for your approval.</div>
            </div>
            <div class="card-options">
                <button class="btn btn-primary rounded-4 fs-4" routerLink="/dashboard/addexpense">Add an expense</button>
            </div>
        </div>

        <div class="action-card rounded-4 d-flex justify-content-between align-items-center w-100 p-5 mt-5 slide-in  animation-delay-2">
            <div class="card-info">
                <div class="fw-bold fs-4 mb-4">Book and office cab</div>
                <div class="card-def fs-4">Need to reach office? We've got you covered.</div>
            </div>
            <div class="card-options">
                <button class="btn btn-primary rounded-4 fs-4" routerLink="/dashboard/bookcab">Book a ride</button>
            </div>
        </div>

        <div class="action-card rounded-4 d-flex justify-content-between align-items-center w-100 p-5 mt-5 slide-in  animation-delay-2">
            <div class="card-info">
                <div class="fw-bold fs-4 mb-4">Raise a travel request</div>
                <div class="card-def fs-4">Request a travel for work purspose.</div>
            </div>
            <div class="card-options">
                <button class="btn btn-primary rounded-4 fs-4" routerLink="/dashboard/travelrequest">Request travel</button>
            </div>
        </div>
    </div>
</div>