.trip-status {
    position: relative;
    color: #555;
    transition: color 0.3s ease-in-out;
}

.trip-status::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #607afc;
    transition: width 0.4s ease-in-out;
}

.active-option {
    color: #607afc; 
}

.active-option::before {
    width: 100%;  
}
.status{
    mat-icon{
        color: #FAC638;
    }
}