<div class="w-100 d-flex justify-content-center align-items-start overflow-scroll">
    <div class="add-expense w-75 pop-out">
        <div class="expense-head fs-1 fw-bold mt-5">
            Travel Request
        </div>
        <div class="fw-bold fs-4 mt-5 mb-5">Travel Details</div>
    
        <form [formGroup]="travelForm" class="d-flex flex-column mt-4">
            <label for="type" class="fw-medium fs-4">Travel Type</label>
            <input formControlName="type" class="rounded-4 form-control fs-4 p-4 mb-4" type="text" name="type" placeholder="Type Of Travel Eg. Catchup, Mettings, Team Meeting Etc.">
            <label for="cost" class="fw-medium fs-4">Estimated Cost</label>
            <input formControlName="cost" class="rounded-4 form-control fs-4 p-4 mb-4" type="text" name="cost" id="" placeholder="$100">
            <label for="destination" class="fw-medium fs-4">Destination</label>
            <input formControlName="destination" class="rounded-4 form-control fs-4 p-4 mb-4" type="text" name="destination" id="" placeholder="Destination City Eg.Delhi">
            <div class="date d-flex w-50">
                <div class="w-50 me-3">
                    <label for="datefrom" class="fw-medium fs-4 mb-3">From Date</label>
                    <input formControlName="datefrom" class="rounded-4 form-control fs-4 p-4 mb-4 w-100" type="date" name="amount" id="" placeholder="$100">
                </div>
                <div class="w-50">
                    <label for="dateto" class="fw-medium fs-4 mb-3">To Date</label>
                    <input formControlName="dateto" class="rounded-4 form-control fs-4 p-4 mb-4 w-100" type="date" name="amount" id="" placeholder="$100">
                </div>
    
            </div>
            <label for="purpose" class="fw-medium fs-4">Travel Purpose</label>
            <textarea formControlName="purpose" class="rounded-4 form-control fs-4 p-4 mb-4"  placeholder="Purpose of travel">Purpose of travel
            </textarea>
        </form>    
        <button class="btn btn-primary rounded-4 fs-4 w-50 p-3 m-5 ms-0">Submit</button>
        </div>
    </div>