full-calendar {
    max-width: 900px;
    margin: 0 auto;
  }
  ::ng-deep {
    .fc-toolbar {
      background-color: #2a2a2a;
      color: #fff;
      padding: 10px;
    }
  
    .fc-button {
      background-color: #4caf50;
      color: white;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
    }
  
    .fc-button:hover {
      background-color: #45a049;
    }
  
    .fc-daygrid-day-number {
      font-weight: bold;
      font-size: 14px;
    }
  
    .fc-event {
      background-color: #00aaff;
      color: white;
      border-radius: 5px;
      padding: 8px;
    }
  
    .fc-daygrid-day {
      background-color: #f7f7f7;
      border-radius: 8px;
    }
  
    .fc-daygrid-day.fc-day-today {
      background-color: #d1f5d1;
    }
  }
  