form{
    gap: 20px;
    input, textarea{
      border: none;
      background-color: #f1f3f4;
      width: 50%;
    }
    input::placeholder, textarea{
      color: #6e8287;
      min-height: 250px;
    }
    button{
      background-color: #f1f3f4;
      color: rgb(77, 77, 77);
      font-size: small;
      font-weight: bold;
    }
}