.progress-bar{
    background-color: #607afc;
}
.text-color{
    color: #6e8287;
}
table{
    border: 2px solid #d7d7d7;
    border-radius: 15px; 
    border-spacing: 0;
    overflow: hidden;
    border-collapse: separate;
    tr{
        background-color: #fafafa;
        border-bottom: 2px solid #d7d7d7;
    }
}
th, thead{
    background-color: #fff;
    border-bottom: 2px solid #d7d7d7;
}
.category{
    background-color: #f1f3f4;
}