<div class="w-100 h-100 d-flex flex-column align-items-center overflow-hidden">
    <div class="dashboard w-75 slide-in">
        <div class="dashboard-header fw-bold fs-1 mt-5 slide-in">
            Expenses
        </div>
        <div class="fw-bold fs-3 pt-5 pb-5 slide-in animation-delay-1">Budget</div>

        <div class="fs-3 slide-in animation-delay-1">$60,000/$100,000</div>
        <div class="progress mt-3 mb-3 slide-in animation-delay-1" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar rounded-4" style="width: 100%"></div>
        </div>
        <div class="text-color fs-4 slide-in animation-delay-1">Spent</div>
        <div class="expense-head fw-bold fs-2 mt-5 mb-5 slide-in animation-delay-2">
            All expenses
        </div>
        <table class="w-100 slide-in animation-delay-2">
            <thead>
              <tr>
                <th scope="col" class="fs-5 fw-medium p-4">Date</th>
                <th scope="col" class="fs-5 fw-medium">Descrition</th>
                <th scope="col" class="fs-5 fw-medium">Category</th>
                <th scope="col" class="fs-5 fw-medium">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row" class="fs-5 fw-medium text-color pt-5 pb-5 ps-4 p-1">Jul 6</td>
                <td class="fs-5 fw-medium">Hotel Stay and flight travel to shillong</td>
                <td class="fs-5 fw-medium"><span class="category rounded-4 p-2 ps-4 pe-4">Accomodation</span></td>
                <td class="fs-5 fw-medium text-color">$1800</td>
              </tr>
              <tr>
                <td scope="row" class="fs-5 fw-medium text-color pt-5 pb-5 ps-4 p-1">Jul 6</td>
                <td class="fs-5 fw-medium">Hotel Stay</td>
                <td class="fs-5 fw-medium"><span class="category rounded-4 p-2 ps-4 pe-4">Accomodation</span></td>
                <td class="fs-5 fw-medium text-color">$1800</td>
              </tr>
            </tbody>
          </table>
    </div>    
</div>