form{
    gap: 20px;
    input, textarea, select{
      border: none;
      background-color: #f1f3f4;
      width: 50%;
    }
    input::placeholder, textarea, select::placeholder{
      color: #6e8287;
      min-height: 250px;
    }
    button{
      background-color: #f1f3f4;
      color: rgb(77, 77, 77);
      font-size: small;
      font-weight: bold;
    } 
}
.text-color{
    color: #6e8287;
}
.upload-box {
    height: 250px;
    border: 4px dashed #e5e7eb;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custom-file-upload {
    cursor: pointer;
  }
  
  .upload-text p {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .upload-btn {
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .file-input {
    display: none;
  }