<div class="login p-5 w-100 h-100">
  <div class="page-header d-flex justify-content-between mb-4">
    <span class=" fs-4 fw-bold">TRaveLator</span>
    <span class="fs-6">Manage your travel with ease</span>
  </div>
  <div class="login-content d-flex w-100 h-100">
    <div class="login-img w-50 rounded-4 m-5">
      <img src="assets/Images/display.jpg" alt="">
    </div>
    <div class="login-info w-50 h-100 d-flex flex-column justify-content-center align-items-center">
      <div class="login-head mb-5">
        <span class="pe-5 fw-bold fs-4">Get Started With Travelator</span>
        <form [formGroup]="loginForm" class="d-flex flex-column mt-4">
          <input formControlName="email" class="form-control"  type="email" name="email" id="" placeholder="Enter email">
          <input formControlName="password" class="form-control" type="password" placeholder="Enter password">
          <button type="submit" class="btn" (click)="Login()">Log In</button>
          <button type="submit" class="btn" routerLink="/dashboard">skip now</button>
        </form>
      </div>
      <span class="fw-lighter" routerLink="/auth/signup">or sign up</span>
    </div>
  </div>
</div>