<div class="d-flex slide-in animation-delay-2" *ngIf="showCards">
    <div class="request-card w-25 p-3 shadow rounded-4 me-4 mb-4" *ngFor="let request of cabRequests">
        <div class="card-head d-flex align-items-center border-bottom p-2">
            <div class="img rounded-circle me-4"></div>
            <div class="fs-4">{{request.name}}</div>
        </div>
        <div class="card-info p-2">
            <div class="d-flex align-items-center justify-content-between mb-2 align-items-center">
                <span>
                    <div class="text-color fw-light">Pick Up</div>
                    <div class="fs-6">{{request.pickUp}}</div>
                </span>
                <mat-icon>double_arrow</mat-icon>
                <span>
                    <div class="text-color fw-light">Drop Off</div>
                    <div class="fs-6">{{request.dropOff}}</div>
                </span>
            </div>
            <div class="d-flex align-items-center justify-content-between align-items-center">
                <span>
                    <div class="text-color fw-light">Date & Time</div>
                    <div class="fs-6">{{request.time}}</div>
                </span>
                <span>
                    <button class="rounded btn-primary" (click)="navigateToAssign(request)">Assign to Cab</button>
                </span>
            </div>
        </div>
    </div>  
</div>
<app-empty *ngIf="cabRequests.length == 0" [msg]="'No requests currently'"></app-empty>
<router-outlet></router-outlet>