<div class="nav p-4 d-flex justify-content-between align-items-center w-100 position-sticky" *ngIf="!isAuthRouteActive">
  <span class="fw-bold fs-3">TraveLator</span>
  <div class="nav-options fs-5 d-flex justify-content-center align-items-center">
    <span class="p-2 rounded me-5 fw-medium" routerLink="/dashboard">Dashboard</span>
    <span class="p-2 rounded me-5 fw-medium" routerLink="/trips">Trips</span>
    <span class="p-2 rounded me-5 fw-medium" routerLink="/mybookings">My Bookings</span>
    <span class="p-2 rounded me-5 fw-medium" routerLink="/expenses">Expenses</span>
    <span class="p-2 rounded me-5 fw-medium">Reports</span>
    <mat-icon class="rounded-4 me-3">calendar_month</mat-icon>
    <mat-icon class="rounded-4 me-5">notifications_none</mat-icon>
    <mat-icon class="rounded-circle" routerLink="/profile" *ngIf="isLogged">person</mat-icon>
    <button class="btn btn-light rounded fw-medium me-3" routerLink="auth/login" *ngIf="!isLogged">Log In</button>
    <button class="btn btn-primary rounded fw-medium" routerLink="auth/signup" *ngIf="!isLogged">Sign Up</button>
  </div>
</div>