.nav{
  border-bottom: 2px solid #f1f3f4;
  background-color: #fafafa;
  span:hover{
    cursor: pointer;
    background-color: #f1f3f4;
  }
  span::after{
    background-color: black;
  }
}
.nav-options{
  mat-icon{
    padding: 15px;
    width: fit-content;
    height: fit-content;
    background-color: #f1f3f4;
  }
}