<div class="profile-page w-100 h-100 d-flex justify-content-center align-items-center">
    <div class="profile-info w-75 h-100 d-flex flex-column justify-content-center align-items-center pop-out">
        <div class="profile-img rounded-circle">      
        </div>      
        <div class="fw-bold fs-3 p-3">{{profile?.name}}</div>
        <div class="text-color fs-5">{{profile?.email}}</div>
        <div class="text-color fs-5 p-3">{{profile?.department}}</div>
        <div class="profile-options">
            <button class="btn btn-primary rounded-4 me-2">Edit Profile</button>
            <button class="btn btn-light fw-medium rounded-4" (click)="logOut()">Log Out</button>
        </div>
        <div class="status w-100 d-flex flex-column align-items-start mt-4">
            <div class="fw-bold fs-4">
                Your status
            </div>
            <div class="d-flex align-items-center mt-4">
                <mat-icon class="rounded-4 me-2">corporate_fare</mat-icon>
                <div class="text-color fs-5">You have takend 12 trips and have $4000 left</div>
            </div>
        </div>
    </div>
</div>