/* You can add global styles to this file, and also import other style files */
/* Set default font */

html,
body {
  height: 100%;
  background-color: #fafafa;
}
body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
}
.btn-primary {
  background-color: #607afc;
  color: #fff;
  border: none;
}
.btn-primary:hover {
    background-color: #788fff;
    color: #fff;
  }
.btn-light{
    background-color: #f1f3f4;
}
.btn:focus {
  background-color: #8095fa;
  border: none;
  color: #fff;
}
.text-color {
  color: #6e8287;
}
.w-40 {
  width: 40%;
}

@keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
.slide-in {
    animation: slideInRight 0.6s ease-in-out forwards;
    opacity: 0; 
  }
  
  .animation-delay-1 {
    animation-delay: 0.1s;
  }
  .animation-delay-2{
    animation-delay: 0.2s;
  }
  .animation-delay-3{
    animation-delay: 0.3s;
  }
  @keyframes popOut {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    80% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }  
  .pop-out {
    animation: popOut 0.6s ease-in-out forwards;
  }