<div class="w-100 h-100 d-flex flex-column align-items-center overflow-hidden">
    <div class="trips w-75 slide-in h-100">
      <div class="trips-header fw-bold fs-1 mt-5 mb-5 slide-in">Requests <span class="fw-normal fs-3 slide-in" *ngIf="childRoute != ''"> /{{childRoute}}</span></div>

        <div class="d-flex"  *ngIf="showCards">
          <div class="request-card shadow rounded-4 w-25 p-4 d-flex flex-column justify-content-between me-4" (click)="navigateTo('travel')">
            <div class="fs-4 fw-bold">Travel Requests</div>
            <mat-icon>shortcut</mat-icon>
          </div>
          <div class="request-card shadow rounded-4 w-25 p-4 d-flex flex-column justify-content-between" (click)="navigateTo('cab')">
            <div class="fs-4 fw-bold">Cab Requests</div>
            <mat-icon>shortcut</mat-icon>
          </div>
        </div>
        <router-outlet></router-outlet>
    </div>
  </div>
  