form{
    gap: 20px;
    input, textarea, select{
      border: none;
      background-color: #f1f3f4;
      width: 50%;
    }
    input::placeholder, textarea, select::placeholder{
      color: #6e8287;
      min-height: 250px;
    }
    button{
      background-color: #f1f3f4;
      color: rgb(77, 77, 77);
      font-size: small;
      font-weight: bold;
    } 
}
@media(max-width:1000px){    
input, textarea, select, button{
  width: 100%!important;
  padding: 10px!important;
}
.date{
  flex-direction: column!important;
  width: 100%!important;
  div{
    width: 100%!important;
  }
}
}