<div class="w-100 h-100 d-flex flex-column align-items-center overflow-hidden">
  <div class="trips w-75 slide-in">
    <div class="trips-header fw-bold fs-1 mt-5 mb-5 slide-in">Trips</div>
    <div class="text-color fs-4 slide-in animation-delay-1">
      You have $0 in approved trips. $0 in pending trips.
    </div>
    <div class="trip-options border-bottom d-flex mt-5 slide-in animation-delay-2">
      <div
        class="trip-status fw-bold text-color fs-5 p-4"
        [ngClass]="{ 'active-option': isActive('pending') }"
        (click)="setStatus('pending')"
      >
        Pending
      </div>

      <div
        class="trip-status fw-bold text-color fs-5 p-4"
        [ngClass]="{ 'active-option': isActive('approved') }"
        (click)="setStatus('approved')"
      >
        Approved
      </div>

      <div
        class="trip-status fw-bold text-color fs-5 p-4"
        [ngClass]="{ 'active-option': isActive('review') }"
        (click)="setStatus('review')"
      >
        For Review
      </div>
    </div>
    <app-trip-card class="slide-in animation-delay-3" [status]="status"></app-trip-card>
  </div>
</div>
