<div class="w-100 h-100 d-flex flex-column align-items-center overflow-hidden">
  <div class="trips w-75 h-100 slide-in">
    <div class="trips-header fw-bold fs-1 mt-5 mb-5 slide-in">Trips</div>
    <div class="text-color fs-4 slide-in animation-delay-1">
      You have $0 in approved trips. $0 in pending trips.
    </div>
    <div class="trip-options d-flex justify-content-center mt-5 slide-in animation-delay-2">
      <div
        class="trip-status fw-bold text-color fs-5 p-4"
        [ngClass]="{ 'active-option': isActive('Requested') }"
        (click)="setStatus('Requested')"
      >
        Pending
      </div>
  
      <div
        class="trip-status fw-bold text-color fs-5 p-4"
        [ngClass]="{ 'active-option': isActive('Approved') }"
        (click)="setStatus('Approved')"
      >
        Approved
      </div>
  
      <div
        class="trip-status fw-bold text-color fs-5 p-4"
        [ngClass]="{ 'active-option': isActive('Review') }"
        (click)="setStatus('Review')"
      >
        Under Review
      </div>
    </div>
    <div class="h-100 p-3" style="overflow-y: auto;">
      <app-trip-card class="slide-in animation-delay-3" [status]="status" [enableOption]="false"></app-trip-card>
    </div>
    </div>   
  </div>
