<div
  class="trip-card shadow rounded-4 p-3 d-flex w-100 justify-content-between mt-5 align-items-center"
  *ngFor="let request of travelRequests;let i=index"
>
  <div class="applicant d-flex flex-column align-items-center">
    <div class="applicant-img rounded-circle"></div>
    <div class="fs-5">{{ request.name }}</div>
  </div>
  <div class="title w-100">
    <div class="fw-medium m-3 fs-4">{{ request.travelType }}</div>
    <div class="text-color m-3 fs-5 fw-light">{{ request.purpose }}</div>
    <div class="text-color m-3 fs-4">${{ request.cost }}</div>
  </div>
  <div class="status">
    <div class="fw-lighter text-color m-3 fs-5">
      {{ request.startDate | date : "dd/MM/yyyy" }} -
      {{ request.endDate | date : "dd/MM/yyyy" }}
    </div>
    <mat-icon class="w-100 text-end pending" *ngIf="status == 'Requested'"
      >pending_actions</mat-icon
    >
    <mat-icon class="w-100 text-end approved" *ngIf="status == 'Approved'"
      >task_alt</mat-icon
    >
    <div class="trip-actions">
      <button
        class="btn btn-success me-2"
        (click)="approveBooking(request.id, i)"
        *ngIf="status === 'Requested' || status === 'Review'"
      >
        Approve
      </button>
      <button class="btn btn-danger m-2" *ngIf="status == 'Requested'">
        Decline
      </button>
      <button class="btn btn-primary me-2" *ngIf="status == 'Approved'" (click)="directorApproval(request.id, i)">
        Director Approval
      </button>
      <button class="btn btn-info" *ngIf="status == 'Approved'">
        Mail Details
      </button>
    </div>
  </div>
</div>
<div class="d-flex align-items-center flex-column" *ngIf="travelRequests.length == 0">
    <img class="" src="assets/Images/EmptySpace.png" alt="">
    <div class="fs-4 fw-light">No bookings right now</div>
</div>
